body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: linear-gradient(135deg, #1d89fc, #a9d8e7);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.header {
    text-align: center;
    
}

.header img {
    width: 150px;
    height: 150px;
    background-color: #f2f2f2;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #fefeff;
    margin-top: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

p {
    margin: 5px 0;
}

.section {
    margin-bottom: 20px;
}

h2 {
    color: #e1e2e4;
    margin-bottom: 10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}
.cont {
    text-align: left;
    margin-left: 40px;
}

.btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 12px 20px;
    border-radius: 6px;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}
.btn:hover {
    background-color: #0056b3;
}

